* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/*header content and navigation toogle*/
h4, p {
    color: rgb(52, 50, 50);
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(../images/1cov.webp);
    background-size: cover;
    background-position: center;
    position: relative;
}
nav {
    justify-content: space-between;
    display: flex;
    padding: 2% 6%;
    align-items: center;
}
nav img {
    width: 150px;
}
.nav-links {
    text-align: right;
    flex: 1;
}
/*menu*/
.nav-links ul li {
    list-style-type: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #800900;
    display: block;
    margin: auto;
    transition: 0.7s;
}
.nav-links ul li:hover::after {
    width: 100%;
}

/*content for middle section of page*/
.text-box {
    top: 50%;
    left: 50%;
    color: white;
    width: 90%;
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1 {
    font-size: 35px;
}
.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}
.text-btn {
    color: white;
    border: 2px solid #fff;
    padding: 12px 34px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.text-btn:hover {
    border: 2px solid #800900;
    background: #800900;
    transition: 1s;
}
/*smaller screens option*/
nav .fa {
    display: none;
}
@media(max-width: 700px){
     .text-box h1 {
        font-size: 15px;
     }
     
    
}
/*link for menu to be hidden and found by smaller screens*/

/*-----about section----*/
.about {
    margin: auto;
    text-align: center;
    width: 80%;
    padding-top: 150px;
}
.about-us {
    padding-top: 10px;
}
.about h1{
    font-size: 30px;
    font-size: 600;
}
.about p {
    padding: 10px;
    color: #6e6d6d;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
}

/*about section rows*/
.row {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.about-column {
    background: #fcf1f0;
    border-radius: 10px;
    padding: 20px 10px;
    margin-bottom: 8%;
    flex-basis: 30%;
    box-sizing: border-box;
    transition: 0.7s;
}
    /*for the titles*/
h3 {
    margin: 10px 0;
    text-align: center;
    font-weight: 600;

}
.about-column:hover {
    box-shadow: 0 0 25px 0px rgba(94, 1, 1, 0.986);

}
    /*for smaller screens*/
@media(max-width: 700px){
    .row {
        flex-direction: column;
    }
}
.diet {
    text-align: center;
    font-size: 15px;
    line-height: 40px;
    color: rgb(49, 48, 48);
    text-shadow: 0 5px 10px rgba(236, 234, 234, 0.3);
}
.diet h1 {

}
/*grid for class schedule*/
/*classes*/
.class-btn {
    color: #fff;
    border: 2px solid #800900;
    padding: 12px 34px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    background: transparent;
    position: relative;
    cursor: pointer;
    background: #760904;
    border-radius: 20px;
}
.class-btn:hover {
    border: 2px solid #800900;
    background: #800900;
    transition: 1s;
}
/*sign up*/
.sign-up-form {
    width: 300px;
    margin: 8% auto 0;
    font-size: 14px;
    background: #fff;
    box-shadow: 0 0 3px rgb(0,0,0,0.3);
    text-align: center;
  
}
.sign-up-form h1 {
    padding-top: 30px;
    margin-bottom: 30px;
    color: #1c8adb;
}
.sign-up-form p {
    font-size: 10px;
}
.input-box {
    margin: 10px;
    border-radius: 20px;
    width: 80%;
    padding: 12px;
    border: 2px solid #999;
    overflow: none;
}
button {
    padding: 10px;
    font-size: 12px;
    width: 60%;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    margin: 10px 0;
    cursor: pointer;
}
.sign-btn {
    background-color: #1c8adb;

}
.fb-btn {
    background-color: #21afde;
}
a {
    text-decoration: none;
}
hr {
    margin-top: 20px;
    width: 80%;
}
.or { 
    margin: -19px auto 10px;
    width: 30px;
    background: white;
}

/*footer*/

/*icons for footer*/









/*ABOUT US PAGE*/

.sub-header {
    height: 60vh;
    width: 100%;
    background-image:  linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(../images/mnld_couple_yoga_on_pool_view_944x510.webp);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}
.sub-header h1 {
    margin-top: 10px;
}
.about-us {
    width: 80%;
    margin: auto;
    padding-top: 150px;
    padding-bottom: 10px;
}
.about-col {
    flex-basis: 48%;
    padding: 30px 2px;

}
.about-col img {
    width: 75%;
    padding-top: 50px;
    
    
}
.about-col h1 {
    padding-top: 10px;
    color: black;

}
.about-col p{
    padding: 15px 0 25px;
    font-size: 14px;
    line-height: 29px;
}
.about-btn-btn {
    color: white;
    font-weight: 300;
    border-radius: 20px;
    border: none;
    padding: 12px 34px;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    background: #760904;
    position: relative;
    cursor: pointer;
    border-radius: 20px;
    font-style: bold;
}

.about-btn-btn:hover {
    border: 10px #a13d35;
    background: #a13d35;
    transition: 1s;

}

/*our teams*/
.wrapper {
    margin-top: 10px;
    background-color: #f7e5e5;
}
.wrapper h1, h3 {
    padding-top: 20px;
    color: black;
    
}
.team {
    display: flex;
    text-align: center;
    width: auto;
    margin-top: 20px;
    justify-content: center;
}


/*footer*/
.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.footer p {
    font-size: 10px;
}
.footer-icons .fa {
    color: #760904;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px;
}

/*programmes*/
.programmes {
    padding: 10px;
    color: #6e6d6d;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;

}

/*contact page*/
.contact-sec {
    background: url(../images/pexels-thirdman-6957967.jpg); /*licence free*/
    background-size: cover;
    padding: 30px 0;
}
.border {
    height: 10px;
    width: 100px;
    background: white;
    margin: 40px auto;
}

.contact-form {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}
.contact-text {
    display: block;
    padding: 18px 80px;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    /*can put background to #fff*/
}
textarea.contact-text {
    height: 120px;
    border: 0;
}
.contact-btn {
    float: left;
    border: 0;
    padding: 15px 25px;
    border-radius: 20px;
    cursor: pointer;
}
.contact-btn:hover {
    border: 10px #a13d35;
    background: #a13d35;
    transition: 0.5s;
}


.connect-with h1{
    text-align: center;
    margin: auto;
    width: 80%;
    padding-top: 70px;
    
    
}

.connect-with p {
    text-align: center;
    margin: auto;
    width: 80%;
    padding-top: 75px;
    padding-bottom: 75px;
    line-height: 40px;
    font-size: 15px;
}
/*about us*/
.team-container {
    margin: 20px 20px;
    color: white;
    align-items: center;
    justify-content: center;
    
   
  }
.team-profiles {
    display: flex;
    justify-content: space-around;
 
}
.profile-for-team {
    display: flex;
    justify-content: space-around;
    margin: 50px 50px 50px;
    text-align: center;
    font-size: 20px;
    
    flex-direction: column;
    align-items: center;
  }
  .profile-for-team .profile-img {
    height: 260px;
    width: 260px;
    border-radius: 50%;
    
  }
  .profile-for-team h5, h3{
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 3px;
    color: rgb(49, 48, 48);
  }
  .user-name {
    margin-top: 30px;
    font-size: 30px;
  }
  .profile-for-team p {
    font-size: 14px;
    margin-top: 20px;
    text-align: justify;
    line-height: 25px;
  }
  @media only screen and (max-width: 1150px) {
    .profiles {
      flex-direction: column;
    }
  }
  /*classes page information*/
  .classes-container {
    padding: 15px 9%;
    padding-bottom: 100px;
  }
  .classes-container {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 60px;
    text-shadow: 0 5px 10px rgb(0,0,0,0.3);
    background: #f8d6d3;

  }
  .classes-container .classes-box-container {
    display: grid;
    grid-template-columns: repeat;
    gap: 15px;
  }
  .classes-container .classes-box-container .box {
    box-shadow: 0 5px 10px rgba(0,0,0.3);
    padding: 30px 20px;
    background: #d48680;
    text-align: center;
    border-radius: 5px solid;
  }
  .classes-container .classes-box-container .box h3 {
    padding: 10px 0;
    
  }
  .classes-container p {
        padding-bottom: 25px
  }
  